// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.image-container {
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin-top: 5%;
}

.brand-wrap {
    text-decoration: none;
    font-size: 24px;
}

.quantity-input {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-input .quantity {
    width: 60px;
    text-align: left;
    margin: 5px;
}

.quantity-input .quantity-btn {
    width: 30px;
}

.quantity-input .btn-primary {
    flex-grow: 1;
}
